<head>
    <title>Add New Machinery</title>
</head>
<div style="background-color:burlywood;font-style: italic">{{message}}</div>
<h1>Purchase new machinery</h1>

<p>Enter the details of the new machinery below</p>
<div>
    
   {{form(form)}}
</div> 
