<h1>New Recruitments</h1>

<p>Enter the details of the new employee below</p>
<div>
    <li>Emloyee Code: <input type="text" name="inCode"></li>
    <li>Name: <input type="text" name="inName"></li>
    <li>Department:<input type="text" name="inDepartment"></li>
    <li>NIC Number:<input type="text" name="inNICNumber"></li>
    <li>Hourly Rate:<input type="text" name="inHourlyRate"></li>
    <li>Allocated Project:<input type="text" name="inAllocatedProject"></li>
    <!-- We could add a option list for the project by giving all the current projects..-->
</div> 
 <input type="submit" value="Submit">
 <input type="submit" value="Clear">