<html>
    <head>
        <title>Allocate Resources</title>
    </head>
    
    <body>
        <h1>Allocate Resources</h1>
       {{ form(form) }}
        <h2>Allocated</h2>
        {{name}}
    </body>
</html>

