<h1>Add new Client</h1> 

<p>Enter the details of the new client below</p>

<div>
    <li>Client Code: <input type="text" name="inCode"></li>
    <li>Name: <input type="text" name="inName"></li>
    <li>Contact Person:<input type="text" name="inDepartment"></li>
    <li>Contact Details:<input type="text" name="inNICNumber"></li>
    <li>Project:<input type="text" name="inAllocatedProject"></li>
    Dont think this is complete yet
</div> 
 <input type="submit" value="Submit">
 <input type="submit" value="Clear">

 