{% extends "::base.html.twig" %}

{% block title %}OOSDSoilTechBundle:Page:newMachinery{% endblock %}

{% block body %}
<h1>Welcome to the Page:newMachinery page</h1>

New Machinery was created with ID = {{id}}
{% endblock %}
